<div class="developer-page__feedback-frame">
        <div class="developer-feedback__actions-frame">
            <div class="developer-feedback__overlay invisible"></div>
            <div class="developer-feedback__links">
                <div class="developer-feedback__close-link">Скрыть отзывы&ensp;&#9668;</div>
                <div class="developer-feedback__create-link invisible">Оставить отзыв</div>
            </div>
            <div class="developer-feedback__sorting-content">
                Сортировать по:
                <select class="developer-feedback__sorting-list">
                    <option class="developer-feedback__sorting-item" value="dateTimeDown">&darr;&ensp;даты</option>
                    <option class="developer-feedback__sorting-item" value="dateTimeUp">&uarr;&ensp;даты</option>
                    <option class="developer-feedback__sorting-item" value="ratingDown">&darr;&ensp;рейтинга</option>
                    <option class="developer-feedback__sorting-item" value="ratingUp">&uarr;&ensp;рейтинга</option>
                </select>
            </div>
        </div>
        <ul class="developer-feedback__feedback-list"></ul>
</div>