# Параметр, отключающий требование заголовка "X-Scope-OrgID" для каждого запроса
auth_enabled: false

# Блок настроек сетевого интерфейса
server:
  # Указание порта для обращения Grafana (чтение) и Grafana Alloy (запись)
  http_listen_port: 3100

# Блок общих настроек
common:
  # Адрес отдельного объекта Loki
  instance_addr: 127.0.0.1
  # Директория корневой папки Loki
  path_prefix: /loki
  # Блок настроек репозитория
  storage:
    # Параметр, отвечающий за сохранение данных на локальный диск (не в "облако")
    filesystem:
      # Параметр, определяющий подпапку для хранения лог-чанков (сжатых в бинарный файл лог-текстов)
      chunks_directory: /loki/chunks
      # Параметр, определяющий подпапку для хранения инструкций реагирования на входщие логи
      rules_directory: /loki/rules
  # Параметр, определяющий количество записей каждой строки лога (1 сервер - 1 запись)
  replication_factor: 1
  # Список объектов Loki, каждый из которых "отвечает" за определенные логи
  ring:
    # Формат хранения списка объектов Loki ("Key-Value")
    kvstore:
      # Место хранения списка объектов Loki (RAM)
      store: inmemory

# Блок системы хранения данных
schema_config:
  # Схема хранения данных
  configs:
    # Дата начала действия схемы
    - from: 2026-01-01
      # Формат хранения данных ("Time Series Database", "База данных временных рядов")
      store: tsdb
      # Местоположение хранимых данных (локальный диск)
      object_store: filesystem
      # Версия архитектуры хранения данных (актуальная)
      schema: v13
      # Блок настроек индексов (указателей на логи за определенный период времени)
      index:
        # Установка префикса в названии файла-индекса (бинарного файла, в котором хранятся поисковые метки, ID файлов-чанков и границы времени для каждого блока данных)
        prefix: index_
        # Схема разделения индексов (по 24 часа)
        period: 24h

# Блок настроек принимаемых логов
limits_config:
  # Параметр, позволяющий Loki добавлять дополнительные метаданные ("Key-Value" к каждой строке лога для ускорения поиска в Grafana)
  allow_structured_metadata: true
  # Параметр, указывающий Loki принимать "устаревшие" логи (на случай, если приложение было оффлайн)
  reject_old_samples: false

# Блок очистки данных
compactor:
  # Параметр, определяющий временную подпапку для хранения сжатых и объединенных файлов
  working_directory: /tmp/loki/compactor
  # Параметр, запрещающий Loki автоматически удалять старые логи
  retention_enabled: false