<main class="home-content">
    <div class="home-content__top-section">
        <div class="left-frame">
            <div class="left-frame__text">
                В скором времени здесь будут представлены&nbsp;<span>параметры Фильтрации каталога разработчиков</span>.
            </div>
        </div>
        <div class="right-frame">
            <div class="notification">
                <div class="notification__help-icon">i</div>
                <div class="notification__help-text">
                    На данный момент сайт корректно отображается только на дисплеях следующих размеров:<br>
                    - от <span>375</span> px до <span>449</span> px (смартфоны в вертикальном положении)<br>
                    - от <span>1.525</span> px до <span>2.000</span> px
                </div>
                <p class="notification__appeal">Уважаемые посетители!</p>
                <div class="notification__info">
                    <p class="notification__text">
                        Данный сайт является своеобразной “пробой пера” начинающего web-программиста и, как следствие, нуждается в отзывах и критике.
                    </p><br>
                    <p class="notification__text">
                        Для желающих на сайте есть возможность зарегистрироваться, а также впоследствии удалить свою учётную запись.
                    </p>
                    <p class="notification__text">
                        При удалении учётной записи все указанные во время регистрации персональные данные будут стёрты из базы данных.
                    </p><br>
                    <p class="notification__text">
                        Поделиться мнением о сайте можно в любой из представленных карточек разработчика.
                    </p>
                </div>
                <div class="notification__info-view">Прочтите для ознакомления...</div>
                <button class="button notification__button invisible">Выиграть!</button>
                <button class="button notification__button-mobile invisible">Выиграть!</button>
                <p class="notification__welcome">Добро пожаловать!</p>
                <p class="notification__welcome-mobile invisible">Добро пожаловать!</p>
            </div>
            <div class="game invisible">
                <div class="game__helper-frame invisible"></div>
                <div class="game__question"></div>
                <div class="game__content">
                    <div class="game__content-wrapper">
                        <div class="game__content-action"></div>
                        <div class="game__content-clarifing clarifing invisible"></div>
                        <div class="game__content-conclusion conclusion invisible"></div>
                    </div>
                    <div class="game__content-resolution resolution">
                        <img class="resolution__sheet" src="icons/Resolution.svg" alt="sheet-icon">
                        <img class="resolution__pen" src="icons/Pen.svg" alt="pen-icon">
                        <span class="resolution__word resolution__word_first-part">У</span>
                        <span class="resolution__word resolution__word_second-part">во</span>
                        <span class="resolution__word resolution__word_third-part">лить!</span>
                    </div>
                </div>
                <div class="game__drag-canvas-conclusion conclusion__drag-canvas invisible"></div>
                <div class="game__buttons">
                    <button class="button game__buttons-answer button-disabled" disabled>Ответить</button>
                    <button class="button game__buttons-drag invisible">Проставить печать</button>
                    <button class="button button-denial game__buttons-denial">Не знаю</button>
                </div>
            </div>
        </div>
    </div>
    <div class="home-content__sorting-frame">
        <label>
            Сортировать по:&ensp;
            <select class="user-page__sorting-list">
                <option class="user-page__sorting-item" value="priceUp">&uarr;&ensp;стоимости</option>
                <option class="user-page__sorting-item" value="priceDown">&darr;&ensp;стоимости</option>
                <option class="user-page__sorting-item" value="ratingUp">&uarr;&ensp;рейтинга</option>
                <option class="user-page__sorting-item" value="ratingDown">&darr;&ensp;рейтинга</option>
            </select>
        </label>
    </div>
    <div class="home-content__catalog"></div>
</main>